@using Address_Book.Services.ViewModels;
@* @model Address_Book.Services.ViewModels.deta *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer Details";
    //var photoPath = "~/images/" + (Model.PhotoName ?? "noimage.png");
}

<div class="row justify-content-center details">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1><span>Name:</span> @Model.Name</h1>
            </div>
        </div>

        <div class="card-body text-center">
            @*<img class="card-img-top mb-4" src="~/images/noimage.png" alt="employee-image" asp-append-version="true" />*@

            <div>
            <h3 style="color:crimson;">Email: </h3>
            <h4>@Model.Email</h4>
            </div>
            <div>
            <h3 style="color:crimson;">Address:</h3>
            <h4>@Model.Address</h4>
            </div>
            <div>
            <h3 style="color:crimson;">Date Of Birth:</h3>
            <h4>@Model.DateOfBirth</h4>
            </div>
            <div>
            <h3 style="color:crimson;">Phone Number:</h3>
            <h4>@Model.PhoneNumber</h4>
            </div>
        </div>

        <div class="card-footer text-center mt-3">
            <a asp-controller="home" asp-action="index" class="btn btn-primary m-1">View List</a>
            <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary m-1">Edit</a>
            <a asp-controller="home" asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>
</div>
