@model IEnumerable<Customer>
@using Address_Book.Domain;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact List";
}


<h1 style="margin-left: 30px; text-align: center; font-size: 50px;">ADDRESS BOOK</h1>
    <table>
        <thead>
            <tr>
            <td>NAME</td>
            <td>EMAIL</td>
            <td>ADDRESS</td>
            <td>DATE OF BIRTH</td>
            <td>PHONE NUMBER</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                <td style="width: 10%;">@customer.FirstName</td>
                <td style="width: 10%;">@customer.LastName</td>
                <td style="width: 12%;">@customer.Email</td>
                <td style="width: 15%;">@customer.Address</td>
                <td style="width: 7%;">@customer.DateOfBirth</td>
                <td style="width: 7%;" >@customer.PhoneNumber</td>
                <td style="width: 2%; height: 5%;">
                    <a asp-controller="home" asp-action="edit" asp-route-id="@customer.Id" class="btn btn-primary">
                        <img src="~/images/pencil.png" />
                    </a>
                    <a asp-controller="home" asp-action="delete" asp-route-customerId="@customer.Id" class="btn btn-danger"
                        method="post" onclick="return confirm('Are you sure you want to delete this contact: @customer.FirstName @customer.LastName')">
                        <img src="~/images/bin.png" />
                    </a>
                </td>
                </tr>
            }
        </tbody>
       
            @*<div class="card-footer" style="margin-left: 10px;">
                <a asp-controller="home" asp-action="edit" asp-route-id="@customer.Id" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>*@
        @*</div>*@
        
</table>